html body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100%;
  background-color: #276E90;
  color: #ffffff;
  align-items: center;
  text-align: center;
}

.bg-276E90 {
  background-color: #04374f;
}

header nav {
  width: 100%;
  background-color: #276E90;
}

header .container-img-logo img {
  width: 200px;
}

header .container-text-title {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  margin-right: 200px;
}

header .navbar-toggler{
  border: 2px solid white;
  color: white;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

header h2 {
  margin: 0;
}


main {
  padding: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main .container_form {
  width: 50%;
}

.container_table .card {
  margin-bottom: 40px;
}

.table-custom {
  background: white;
}

.card .header {
  line-height: 64px;
  padding-left: 24px;
  padding-right: 14px;
  background-color: #edf2f4;
  color: #595959;
  font-weight: bolder;
}

.card .header h4 {
  font-size: 20px;
}

.table-custom {
  padding: 0;
  margin: 0;
}

.table-custom>thead>tr>th {
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54)
}

.table-custom>tbody>tr>td {
  line-height: 20px;
  word-wrap: break-word;
  font-size: 12px;
}

.container_table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_table .button {
  background-color: #dc3545;
  width: 200px;
  height: 50px;
  margin: 40px;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: bolder;
}

.container_table .button:hover {
  background-color: #da2335;
}